ccxt
pandas
numpy
streamlit
matplotlib
python-dotenv
requests
plotly
streamlit-autorefresh
kaleido
txt
sqlalchemy
psycopg2-binary
bcrypt
streamlit-authenticator
transformers
torch
sentencepiece
accelerate
textblob